DATA_PATH=
DAGSTER_HOME=
# MAPSHAPER_BIN=/absolute/path/to/mapshaper

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

AZURE_STORAGE_CONNECTION_STRING=

MAX_CONCURRENT_RUNS=10
MAX_CONCURRENT_ASSETS=1
